<section>
    <h1>Testimonials</h1>
</section>

<!-- <section>
    <h2>Edward Sánchez</h2>
    <h4>Soft-Focus Productions Ltd</h4>
    <p><em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, cumque voluptas dolores recusandae iste cum esse deserunt a, sapiente at numquam repellendus sequi facilis tenetur eveniet, voluptatum maiores pariatur id.</em></p>
    <br>
</section> -->

<section>
    <h2>Ryan Mcmullen</h2>
    <h4>LNR Performance Remaps</h4>
    <p><em>Certain parts of our project where quite complex in parts and required many revisions, James stuck with it.</em></p>
    <br>
</section>

<!-- <section>
    <h2>Rob Smith</h2>
    <h4>Hotbox Studios</h4>
    <p><em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, cumque voluptas dolores recusandae iste cum esse deserunt a, sapiente at numquam repellendus sequi facilis tenetur eveniet, voluptatum maiores pariatur id.</em></p>
    <br>
</section> -->

<section>
    <h2>Daniel Carter</h2>
    <h4>Greycon</h4>
    <p><em>Working with James was great, he communicated very well, explained his work, and finished in a timely manner. Thank you!</em></p>
    <br>
</section>

<section>
    <h2>Julian Oczkowski</h2>
    <h4>Trimble Inc.</h4>
    <p><em>James is one of the best front and backend developers I had pleasure working with. Reliable, owns his tasks and makes sure all requirements are met. If I had to hire a developer he would be on the top of my list. Constantly seeking new challenges and learning. Development for James is a passion. He can communicate his ideas with ease and is open to feedback. Understands how to collaborate with design. Great guy and a team player.</em></p>
    <br>
</section>

<section>
    <h2>Fady Sobhy</h2>
    <h4>LNR Performance Supplies</h4>
    <p><em>James is a pleasure to work with and we are very happy with the completed project delivered to us.</em></p>
    <br>
</section>
