<ul class="main-navigation">
  <li class="wiggle"><a href="{{ root_url }}/services">Hire Me</a></li>
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a target="_blank" href="https://github.com/84115">Github</a></li>
  <li><a target="_blank" href="https://github.com/84115/cv/blob/master/james-ball-cv.pdf">CV</a></li>
  <!-- <li><a href="{{ root_url }}/portfolio">Portfolio</a></li> -->
  <li><a href="{{ root_url }}/atom.xml">RSS</a></li>
</ul>

<style>
body>nav ul { overflow: initial !important; }

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(7deg); }
   95% { transform: rotate(-7deg); }
  100% { transform: rotate(0deg); }
}

.wiggle {
  animation: wiggle 2.5s;
}
</style>